<div class="card float-left m-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= link_to oitem.item.name, item_path(oitem.item) %></h5>

    <p><%= oitem.item.description %></p>
    <img id="item-<%= oitem.item.id %>-image" alt="image for <%= oitem.item.name %>" src="<%= oitem.item.image %>" width="<%= img_width %>" />
    <p>Merchant: <%= oitem.item.user.name %></p>
    <p>Price: <%= number_to_currency(oitem.price) %></p>
    <p>Quantity: <%= oitem.quantity %></p>
    <p>Subtotal: <%= number_to_currency(oitem.subtotal) %></p>
    <p>Fulfilled: <%= oitem.fulfilled ? 'Yes' : 'No' %></p>
    <p>Reviews: <%= oitem.reviews.count %></p>

    <div id="oitem-<%= oitem.id %>-review">
    <% if @order.status == 'completed' && oitem.reviews.count == 0 %>
      <%= button_to "Leave Review", profile_order_order_item_new_review_path(@order, oitem), method: :get %>
    <% elsif @order.status == 'completed' && oitem.reviews.count == 1 && oitem.reviews[0].status %>
      <%= button_to "Disable Review", profile_order_order_item_disable_review_path(@order, oitem, oitem.reviews[0]), method: :patch %>
    <% end %>
    <p>Your review: <%= oitem.review_description %></p>
    </div>
  </div>
</div>
