<h2><%= @item.name %></h2>

<%= tag.div id: "item-#{@item.id}" do %>
<%= render partial: "card", locals: {item: @item, img_width: 400} %>

<% if @item.inventory > 0 && (current_user.nil? || current_user.default?) %>
<%= button_to 'Add to Cart', cart_add_item_path(@item) %>
<% elsif @item.inventory == 0 %>
Merchant is out of stock, sorry
<% end %>

<p><strong>Average time to fulfill: </strong><%= fulfillment_time(@item.avg_fulfillment_time) %>
<p><strong>Average Rating: </strong><%= @item.average_rating %>
<% end %>
<% @item.order_items.each_with_index do |oi, index| %>
    <div id="review-<%= index %>">
      <% oi.reviews.each do |review| %>
    <% if review.status %>
        <strong>User: </strong><%= review.user_name %><br>
        <strong>Title: </strong><%= review.title %><br>
        <strong>Rating: </strong><%= review.rating %><br>
        <strong>Review: </strong><%= review.description %><br>
        <strong>Written on: </strong><%= review.created_at.strftime("%A %B %d, %Y") %><br>
        <%= link_to "Return to Orders", profile_orders_path(review.user) %>
    </div>
    <% elsif @item.current_reviews.count > 0 %>
      <%= " " %>
    <% else %>
      <%= "No reviews currently." %>
    <% end %>
  <% end %>
<% end %>
