<h2><%= @item.name %></h2>

<%= tag.div id: "item-#{@item.id}" do %>
<%= render partial: "card", locals: {item: @item, img_width: 400} %>

<% if @item.inventory > 0 && (current_user.nil? || current_user.default?) %>
<%= button_to 'Add to Cart', cart_add_item_path(@item) %>
<% elsif @item.inventory == 0 %>
Merchant is out of stock, sorry
<% end %>

<p>Average time to fulfill: <%= fulfillment_time(@item.avg_fulfillment_time) %>
<% end %>
<% @item.reviews.each_with_index do |review, index| %>
    <div id="review-<%= index %>">
      <% if review.status %>
      <%= review.user_name %>
      <%= review.title %>
      Rating: <%= review.rating %>
      <%= review.description %>
      <%= review.created_at %>
      <%= link_to "Return to Profile", profile_path(review.user) %>
    </div>
  <% else %>
    <%= "No reviews currently." %>
  <% end %>
<% end %>
